* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: sans-serif;
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-style: italic;
  font-weight: 900;
}

.main-head {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 10rem;
  background-color: #a5d8ff;
  align-items: flex-start;
  justify-content: center;
}

.heading {
  color: #a61e4d;
  align-items: flex-start;
  font-size: 20px;
  font-weight: 800;
  font-family: sans-serif;
  padding: 5px;
}

.newTodo {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 600;
  width: 100%;
  height: 32px;
  text-align: center;
  border-radius: 10px;
  border: 0;
  padding: 5px;
  margin-bottom: 5px;
}

.btn {
  height: 25px;
  stroke: #fff;
}

.AddBtn {
  border: none;
  color: #fff;
  height: 35px;
  border-radius: 8px;
  width: 100%;
  background-color: #a61e4d;
  font-size: 20px;
  font-weight: 600;
  margin-top: 5px;
  text-align: center;
  align-items: center;
}

.AddBtn:hover {
  background-color: #d6336c;
}

.wrapper {
  padding: 15px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.wrapper-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 40px;
  background-color: #d6336c;
  margin: 5px;
}

.list {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.icon {
  color: #fff;
}

.icon:hover {
  color: red;
}

